:root {
    --utesc-color: #3BBBA8;
}

*::before,
*::after {
    border: 0 solid var(--utesc-color);
}

.display-fc {
    display: flex;
    justify-content: center;
}
.display-fb {
    display: flex;
    justify-content: space-between;
}



/* SMALL */
@media screen and (min-width: 991px) {
    .bg-header {
        background-color: var(--utesc-color);
    }

    .h-title {
        color: white !important;
    }

    .menusize {
        width: 180px;
    }
    .breadcrumb-item+.breadcrumb-item::before{
        color: #fff !important;
    }
    .breadcrumb-item, .breadcrumb-item a{
        color: #fff !important;
    }
}